@import url(global.css);
@import url(header.css);
@import url(footer.css);
.slidePrev,.slideNext{background-image:url(../image/global.gif);}

.item{margin-top:30px;}
.itemHead h3{font-size:18px;height:40px;font-weight:normal;}
.itemBody{float:left;width:1210px;}
.itemBody li{float:left;border-right:1px solid #DDD;border-bottom:1px solid #DDD;height:310px;overflow:hidden;position:relative;}
.itemBody li:hover img{margin-top:0;}
.itemBody li img{height:310px;transition:all 0.2s;-moz-transition:all 0.2s;-webkit-transition:all 0.2s;-o-transition:all 0.2s;}
.itemBody li span{position:absolute;top:30px;left:40px;line-height:24px;}
.itemBody li span a:hover{color:#F60;}
.itemBody li em{display:block;color:#999;}
.itemBox{height:620px;width:1198px;border:1px solid #DDD;overflow:hidden;overflow:hidden;position:relative;}
.itemLarge,.itemLarge img{width:601px;}
.itemLarge img{margin-top:3px;}
.itemLarge span{display:none;}
.itemSmall,.itemSmall img{width:300px;}
.itemSmall img{margin-top:3px;}
.itemHot{width:903px;}
.itemRank{float:left;width:295px;overflow:hidden;}
.itemRank li{position:relative;height:103px;border-bottom:1px solid #DDD;overflow:hidden;}
.itemRank li:hover img{margin-left:-3px;}
.itemRank img{transition:all 0.2s;-moz-transition:all 0.2s;-webkit-transition:all 0.2s;-o-transition:all 0.2s;}
.itemRank li span{position:absolute;width:130px;line-height:22px;top:30px;left:58px;}
.itemRank li span a:hover{color:#F60;}
.itemRank li em{position:absolute;font-size:48px;font-style:normal;font-family:Arial,Helvetica,sans-serif;top:24px;left:20px;}
.itemRank a:hover span{color:#F60;}
.itemRank .itemRankHead{height:102px;background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#FFFFFF),color-stop(100%,#F6F6F6));background-image:-webkit-linear-gradient(top,#FFFFFF,#F6F6F6);background-image:-moz-linear-gradient(top,#FFFFFF,#F6F6F6);background-image:-o-linear-gradient(top,#FFFFFF,#F6F6F6);background-image:linear-gradient(top,#FFFFFF,#F6F6F6);}
.itemRank .itemRankHead h3{font-size:24px;text-align:center;height:102px;line-height:100px;font-weight:normal;}
.itemRank-1,
.itemRank-2,
.itemRank-3{color:#FF9933;}
.itemRank-4,
.itemRank-5{color:#CCC;}

.slide{position:relative;height:460px;overflow:hidden;}
.slideTab{bottom:30px;left:50%;position:absolute;}
.slideTab li{float:left;margin:0 5px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;width:8px;height:8px;background:#CCC;overflow:hidden;cursor:pointer;display:inline}
.slideTab .slideTabFocus{background:#1AC14B;}
.slidePrev,
.slideNext{display:block;overflow:hidden;width:30px;height:60px;position:absolute;top:50%;margin-top:-30px;cursor:pointer;transition:all 0.2s;-moz-transition:all 0.2s;-webkit-transition:all 0.2s;-o-transition:all 0.2s;filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;background-color:#FFF;}
.slidePrev:hover,
.slideNext:hover{background-color:#000;}
.slidePrev{left:-30px;background-position:-22px -91px;}
.slidePrev:hover{background-position:-104px -91px;;}
.slideNext{right:-30px;background-position:-103px -169px;}
.slideNext:hover{background-position:-21px -169px;}

#popBox{background:url(../upfiles/pop2.jpg) no-repeat center top; background-color:#FFF9C1;width:100%;position:absolute;height:100%;z-index:9999;text-align:center;display:none;}
#popBox span{display:inline-block;width:200px;height:40px;outline:none;cursor:pointer;}


/*******************ht-left **********************/
.clear{clear:both; width:100%; font-size:0; line-height:0;}
.ht_left{ width:240px; float:left; height:auto; height:300px;}
.ht_left ul{ width:238px; height:auto; border:1px solid #e5e5e5; border-bottom:0; margin:0 0 20px 0;}
.ht_left ul li,.ht_left ul li a{height:42px; line-height:42px; }
.ht_left ul li{ width:100%; border-bottom:1px solid #E5E5E5; }
.ht_left ul li a{ width:80%; padding:0 10%; font-size:16px; color:#333333; display:inline-block; position:relative; }
.ht_left ul li a.cta,.ht_left ul li a:hover{ background:url(../image/ht-nav.gif) no-repeat 0 0 #fafafa; font-weight:bold;}
.ht_left ul li a em,.ht_left ul li a:hover em,.ht_left ul li a.act em{ font-family:arial; font-size:12px; display:block; position:absolute; right:20px; top:11px; width:20px; height:20px; border-radius:10px; background:#f00; color:#FFF; padding:0; line-height:20px; text-align:center; font-weight:normal;}
.ht_left ul li a span{ position:absolute; top:14px; right:20px;display:block; width:7pxpx; height:14px; border:none; background:url(../image/sjx.png) no-repea;}

/*******************ht-right **********************/
.ht_right,.order{ width:930px; float:right; height:auto; _overflow:hidden; }
/***********basic ******/
.basic{ width:928px; height:auto; border:1px solid #F4F4F4; background:#fafafa; display:inline-block; margin:0 0 20px 0; }
.basic_text{ width:93%; background:#FFF; padding:15px; display:block; margin:20px auto; border:1px solid #eee;}
.basic_left{ height:120px; width:300px; float:left;}
.basic_left dl{ width:100%; height:80px; border-bottom:1px solid #EEEEEE; padding:0 0 10px 0;}
.basic_left dl dt{width:80px; float:left; height:80px; overflow:hidden;}

.basic_left dl dd{width:200px; float:right; display:inline-block; line-height:40px; }
.basic_left dl dd h4{ font-size:18px; color:#444444; padding:11px 0 0 0; line-height:25px; }
.basic_left dl dd p{ width:100%; font-size:16px; color:#545454;}
.basic_left dl dd em{ font-size:20px; color:#FF9933;}
.basic_left dl dd strong{ font-size:8px; color:#FF9933; display: inline-block;}
.basic_left span{ height:40px;display:inline-block; width:100px; float:left; line-height:40px; color:#888;}
.basic_left span a{ color:#666;}
.basic_left span a:hover{ color:#14AB43;}
.basic_left span a.TC{ float:right; padding:0 10px; display:block; width:30px;}

.basic_right{ float:left; width:500px; margin:12px 0 0 50px;}
.basic_right p,.basic_right span{ line-height:30px; font-size:15px; color:#868686;}
.basic_right span{ line-height:40px;}
.basic_right span a{ color:#14AB43; }

.basic_right p a{ height:30px; display:inline-block; padding:0 0 0 20px; background:url(../image/base.gif) no-repeat -10px -27px;  }
.basic_right p a + a{ height:30px; display:inline-block; padding:0 0 0 30px; background:url(../image/base.gif) no-repeat 0 -81px;  }
.basic_right p a.act{ color:#14AB43; background-position:0 -2px; }
.basic_right p a.act + a.act{ color:#14AB43; background-position:0 -56px; }

/***********order-list ******/
.order{ height: auto;margin:0px 0 0 0 ;}
.order_title{ width:100%; height:40px; position:relative;}
.order_bottom{ border-bottom:2px solid #eee;}
.order_title a{ color:#464637; display:inline-block; padding:0px; margin:0 20px 0 0; line-height:40px; font-size:16px; font-weight:bold;}
.order_title a:hover,.order_title a.cta{ border-bottom:2px solid #008C00; color:#008C00; position:relative; _bottom:-2px;}
.order_list{ width:99.9%; height:auto; margin:15px 0 0 0; border:1px solid #EEEEEE;}
.order_list.mot0{ margin-top:0;}

.order_list:hover{border-color:#dcdcdc; box-shadow:0 2px 4px rgba(0,0,0,0.1)}

.order_left { width:750px; height:auto;float:left; position:relative;}

.order_left_title { height:35px; padding:0 20px; background:#F9F9F9;border-right:1px solid #EEEEEE; position:relative;}
.order_left_title span { display:inline-block; margin:0 40px 0 0; line-height:35px; color:#888;}
.order_left_title p { position:absolute; right:20px; top:0; color:#FF8000; line-height:35px; display:block;}

.order_left dl,.coupons_box,.password{width:709px; height:100px; padding:20px; border-right:1px solid #EEEEEE;border-top:1px solid #EEEEEE;}
.order_left dl dt{ width:100px; height:100px; background:#006; float:left; overflow:hidden;  }
.order_left dl dt img{ width:100px; height:100px;}
.order_left dl dd{ width:560px; margin:0 0 0 20px; float:left; height:100px;  }
.order_left dl dd h4{ line-height:25px; max-height:50px; font-size:18px; color:#333; overflow:hidden;}
.order_left dl dd span{ line-height:30px; max-height:60px; font-size:13px; color:#FF9933;}
.order_left dl dd span em{ font-size:18px;}
.order_left dl dd p{ font-size:14px; color:#666;}
.order_left dl dd p em{ font-size:15px;}

.order_right { width:179px; height:auto; height:auto;text-align:center; position: absolute; top:50%; right:-180px;margin-top:-50px; z-index:90;}
.order_right span { width:100%; height:40px; line-height:40px; font-size:20px;color:#FF9933; display:block; }
.order_right span em{ font-size:14px}
.order_right a { margin:0 auto; width:100px; height:30px;  display:block; line-height:40px; text-align:center; color:#666; text-decoration:underline; font-size:12px;}
.order_right a.btn,.record_top span a,.collection em a,.evaluation_btn a,.pj_btn a,.total li.c a,.adds_right a,.add_adds_btn{ display:block; width:100px; background:#9797A6; font-size:14px; height:30px;line-height:30px; text-decoration:none; text-align:center;color:#ffffff;}/*°´Å¥*/
.order_right a:hover.btn{ background:#19B746;  color:#fff;}
.order_top0{ margin-top:10px;border-right:none;}
.order_left_wc{ width:100%;border-right:none;}
.order_left dl.wc{ width: 888px; }
.order_left dl.wc dd{ width:750px;}
.order_left dl.wc dd h4,.order_left dl.wc dd span,.order_left dl.wc dd p { height:40px; width:400px; float:left; padding:20px 0; overflow:hidden;}
.order_left dl.wc dd span,.order_left dl.wc dd p { width:140px; text-align:center; line-height:60px; margin:0 10px;}

.index_more{width:100%; height:40px; line-height:40px; text-align:center; margin:20px 0;}
.index_more a{  text-align:center; float:right; font-size:17px; color:#fff; display:block; width:150px; background:#9797A6;}
/***********order-list_more*****/

.total{ border:1px solid #eee; border-top:0;height:140px;}
.total li{ width:30%; float:left; height:100px; line-height:30px; padding:20px 0 20px 3%; color:#666; }
.total li p{ width:100%;font-size:15px;}
.total li p em{ color:#333; padding:0 5px;font-size:15px;}

.total li.d p{ font-size:17px;}
.total li.d p em{ font-size:17px;}
.total li.d em{ font-size:22px; color:#FF9933;}
.total li.c{ text-align:center;}
.total li.c a{ margin:20px auto;}
.total li.c a:hover{ background:#FF9933;}

.state,.state1,.state2,.state3{ width:982px; height:55px; background:url(../image/zt.jpg) no-repeat; margin:15px 0; overflow:hidden}
.state1{background-position:0 -55px;}
.state2{background-position: 0 -111px;}
.state3{background-position: 0 -167px;}

.delivery,.logistics{ width:928px; border:1px solid #eee; margin:15px auto 0 auto;}
.delivery_title,.logistics_title{ width:100%; height:40px; border-bottom:1px solid #eee; text-indent:20px; font-size:16px; line-height:40px; color:#666666;}
.delivery_ul{ width:888px; margin:10px 20px; font-size:14px; display:inline-block;}
.delivery_ul li{ color:#666; width:888px; height:30px; line-height:30px;}
.delivery_ul li span,.delivery_ul li p{ float:left; display:inline-block; padding:0 5px 0 0;}

.logistics_ul{ width:800px; height:auto; display:inline-block;width:80%; margin:20px 30px;}
.logistics_ul li{border-left:1px solid #ddd; padding:10px 20px; height:auto; display:inline-block; width:100%; position:relative;}
.logistics_ul li em{ padding:0; display:block; width:10px; height:10px; border-radius:6px; border:1px solid #ddd; position:absolute; top:15px; left:-6px; background:#fff;}
.logistics_ul li em.cat{ background:#eee;}

.logistics_ul li span { height:25px; line-height:25px; font-size:12px; color:#999; display:block;}
.logistics_ul li p{ font-size:15px; color:#555;}


.logistics{width:887px; padding:20px 20px; text-indent:0; margin:0;}
.mr{ text-indent:25px; background:url(../image/bz.gif) no-repeat 20px 7px; text-indent: 45px;}
.add {border-right:1px solid #eee; width:750px;}
.adds_right,.adds_sg{ width: auto; float:right; position:absolute; right:-177px;_right:0px; text-align:center; width:177px; top:50%;height:auto; margin-top:-40px;}
.adds_sg{ margin-top:-40px;}
.adds_right a{ margin:10px auto;}
.adds_right a:hover{background:#FF9934;}
.adds_right a.adds{ background: none; color:#888; text-decoration:underline;}
.adds_right a.adde{ background:#FF9934;}
.adds_right a:hover.adde{ background:#FF7F00;}

.order_bottom a.tjdz{ color:#666; float:right; font-weight:normal;}
.add_adds{ background:#F6F6F6; padding:10px 0 40px 0;}

/*****/
#test1 { width:100%; height:40px; padding:30px 0 0 52px; color:#666;}
#test1 span { width:50px; float:left; height:40px; line-height:40px; text-align:right; padding:0 8px 0 0;}
.arrow,.cb,.rb{background-image:url(../image/icon.png) ;nfont-size:16px;}
/* select box */
.sb{width: 200px; height: 35px;border:solid 1px #cfcfcf;cursor:pointer;background-color:#ffffff;position:relative;float:left;margin:0 10px 0 0;display:inline-block;}
.sb_active{border:solid 1px #999;}
.sb *{color:#666666;font:normal 12px Song;cursor:pointer;background-color:#fff;}
.sb .opts{ width:200px;_width:180px;border:1px solid #999;display:none;left:0;height:180px;overflow-x:hidden;overflow-y:auto;position:absolute;top:0;width:auto;z-index:99;}
.sb > .selected{overflow:hidden;position:absolute;cursor:pointer; left:10px; font-size:15px; display:block;}
.sb .opts a{  width:180px; color:#666; font-size:15px;width:auto;height:30px;line-height:30px;padding:0 10px;outline:none;white-space:nowrap;text-decoration:none;display:block;cursor:pointer;}
.sb .opts a.selected{background:#ffffe1;}
.sb .opts a.none{background:#fff;}
.sb .opts a:hover{background:#ffffe1;}
.sb .sb_icon{width:7px;height:4px;overflow:hidden;position:absolute;cursor:pointer;right:10px;}
.sb .arrow{background-position:-27px -18px;}
.sb_active .arrow{background-position:-27px -4px; }
/* checkbox box */
.cb{width:13px;height:13px;display:inline-block;*display:inline;zoom:1;background-position:0 0;cursor:pointer;}
.cb_active{background-position:0 -13px;}
/* radio box */
.rb{width:13px;height:13px;margin:0 auto;padding:0;display:inline-block;*display:inline;zoom:1;vertical-align:middle;background-position:-13px 0;cursor:pointer;}
.rb_active{background-position:-13px -13px; }
.mot10{ margin-top:16px ;}

.add_adds ul{ margin: 10px 20px;}
.add_adds ul li{ height:40px; line-height:35px; margin:15px 0; color:#666; }
.add_adds ul li span{ width:80px; text-align:right; height:40px; line-height:35px; padding:0 10px 0 0; display:inline-block;}
.add_adds ul li input{ height:35px; line-height:35px; border:1px solid #ddd; width:440px; padding:0 15px; color:#444; }
.add_adds ul li input.chang{ width:680px;}
.add_adds_btn{ margin:0 0 0 110px; width:400px; background:#f6f6f6;}
.add_adds_btn a{ background:#9797A6; color:#fff; display:block; float:left; width:100px;}
.add_adds_btn a:hover { background:#FF7F00}
.add_adds_btn a.sc{ background:none; color:#666; text-decoration:underline;}

/***********coupons ******/
.coupons_box{width:709px; height:50px; padding:20px; }
.coupons_right{ top:50%; right:-180px;margin-top:-12px;}
.order_right a.coupons{ background:#FF9934;}
.coupons_box p{ font-size:16px;  color:#666;}
.coupons_box span{ line-height:30px; font-size:14px; color:#666; }
.coupons_box p em{ color:#333; font-size:16px;}
.coupons_box span em{color:#FF9933; font-size:18px;}
.coupons_right span{ font-size:14px; color:#999;} 

/***********ht_page ******/
.ht_page{ width:100%; text-align:right; height:30px; margin:30px 0 0 0;}
.ht_page a{ display:inline-block; padding:0 10px;line-height:30px; margin:0; color:#666; display:inline-block;border:1px solid #eee;}
.ht_page a.nex{ background:#9797A6; width:94px; text-align:center; color:#FFF; padding:0; margin:0 10px 0 10px; border-color:#9797A6;}
.ht_page a:hover.nex{ background:#19B746; border-color:#19B746}
.ht_page a.act,.ht_page a:hover{ color:#fff; color:#F63; border-color:#d5d5d5; }
.ht_page a.dot{ margin:0 2px; width:5px; padding:0; border:none; }
.ht_page a:hover.dot{ background:none; color:#666;}
.ht_page a:hover.nex{ color:#fff; }

/***********ht_ask ******/
.answer{ width:94%; margin:0 auto;display:none;}
.huifu_text{ width:96%; padding:5px 2%; height:90px; border:1px solid #eee;}
.huifu_btn{width:94px; text-align:center; line-height:30px; color:#FFF; background:#FF9933; border:none;display:inline-block; margin:10px 0; cursor:pointer;}
.ask_box{ width:100%;_width:99%; height:auto; border:1px solid #eee; margin:20px auto 0 auto;}

.panel,.flip{margin:0px;padding:5px;}
.panel{height:auto;display:none; border-bottom:1px #eee solid; }
.ask_box a,.flip{ display:inline-block;background:#03C; height:30px; line-height:30px; display:block; float:left; margin:10px 0 10px 30px; display:inline;background:url(../image/ask_r1_c1.gif) no-repeat 0 8px; text-indent:25px;}
.flip{ margin:10px 0 10px 10px; background:url(../image/ask_r2_c3.gif) no-repeat 0 7px; text-indent:25px; cursor:pointer; width:200x; padding:0;}
.ask_title{ width:100%; height:40px; line-height:40px; background:#f9f9f9; text-indent:24px; color:#888; font-family:arial; }
.ask_box dl{ width:94%; margin:0 auto; height:auto; display:block; height:120px; margin:22px auto 8px auto;}
.ask_box dl dt{ width:100px; height:100px; background:#eee; float:left;}
.ask_box dl dd{ width:750px; float:right;}
.ask_box dl dd p{ width:350px; max-height:45px; line-height:22px; overflow:hidden; float:left; padding:25px 0; font-size:15px; color:#666; }
.ask_box dl dd span{ height:100px; line-height:100px; float:left; width:270px; text-align:center; font-size:18px; font-family:arial; color:#FF9934;}
.ask_box dl dd a{ width:90px; float:left; display:block; height:30px; background:#9797A6; text-align:center; line-height:30px; color:#fff; margin-top:35px; text-indent:0;}
.ask_box dl dd a:hover{ background:#FF9934;}

.kye_xs{ width:94%; margin:0 auto; }
.kye_xs li{ width:100%; line-height:24px; border-top:1px dashed #ddd; padding:10px 0; display:inline-block;}

.kye_xs li em{ width:100%; height:20px; line-height:20px; color:#888; font-family:arial; display:block;}
.kye_xs li span,.kye_xs li span.xy{ display:inline-block; padding:0 5px 0 0;float:left; color:#19C04B;}
.kye_xs li span.xy{ color:#FF9933;}
.kye_xs li p{ width:auto; width:auto; color:#444; margin:0 0 0 35px;}

/***********record ******/
.record_top{ width:100%; height:50px;}
.record_top p{ width:50%; float:left; font-size:16px; color:#555555; line-height:50px; font-weight:bold;}
.record_top p em{ font-size:22px; color:#FF9934; display:inline-block; padding:0 5px; font-weight:normal;}

.record_top span { display:inline-block; float:right; padding:10px 0;} 
.record_top span a{ background:#FF9934; float:left; margin:0 0 0 15px; *color:#ffffff;} 
.record_top span a:hover {color:#fff; background:#FF7F00;} 
.record_top span a + a{ background:#9797A6; }

.order table{ width:100%;border-collapse:collapse; border:1px solid #eee;}
.order table tr{ height:35px; line-height:35px;}
.order table tr th{ text-align:center; border:1px solid #ddd; background:#fafafa; color:#666;}
.order table tr td{ text-align:center; border:1px solid #eee;}
.order table tr td.w{ width:20%; color:#878787;}
.order table tr td.t{ width:15%; color:#464646;}
.order table tr td.c{ width:15%; color:#FF7F00; border-color:#eee;}
.order table tr td.f{ width:auto; color:#878787;}
.order table tr td.lv{ color:#2CB200;}


/***********integral ******/
.ntegral{ margin-top:22px;}
.ntegral_top{ display:inline-block; float:right; line-height:40px; font-size:14px; color:#666666; position:absolute; right:0;}
.ntegral_top p{ float:left; padding:0 10px; }
.ntegral_top p em{ font-size:18px; color:#FF9933;}

/***********record ******/
.password{ border-top:0; padding-bottom:45px;_ padding-bottom:18px; display:inline-block;  }
.password li{ width:100%; line-height:40px; height:40px;}
.password li span{ width:65px; float:left; margin:0 15px 0 0 ; display:block; color:#666666; font-size:16px;line-height:40px; height:40px;}
.password li input{ width:300px; height:28px; line-height:28px; padding:0 10px; color: #999; border:1px solid #dddddd;}

/***********collection ******/
.collection{ width:948px; padding:30px 0; margin:0 -19px 0 0;}
.collection li{ width:23%; float:left; margin:0 17px 17px 0; position:relative;}
.collection li:hover{ box-shadow:0 2px 4px rgba(0,0,0,0.1)}
.collection li:hover dl dd{ width:90%; padding:10px 5%;}

.collection li dl{ width:100%; height:300px; cursor:pointer;}
.collection li dl dt{ width:100%; height:219px; background:#ddd;}.collection li dl dt img{ width:100%; height:219px;}
.collection li dl dd{ width:100%; padding:10px 0;}
.collection li dl dd p{ line-height:20px; font-size:13px; color:#666666; max-height:40px; overflow:hidden;}
.collection li dl dd span{ line-height:30px; color:#FF9933;}

.collection li em{ width:90%; height:30px; padding:5px 5%; position: absolute; top:179px; background:#eee; display:none;}
.collection li em a{ display:block; float:left;}
.collection li em a:hover{ background:#FF7F00;;}
.collection li em a.cla{ width:50px; margin:0 10px; background:none; color:#888888; text-decoration:underline; }
.collection li:hover em { display:block;}
.line{ border-top:1px solid #dddddd; padding:20px 0;}

/*********** evaluation ******/
.evaluation_sm,.evaluation_sm span{ font-size:12px; background:none; border:none;}
.evaluation_sm{padding:0 10px; border-bottom:1px solid #eee;}
.evaluation{ width:950px; _width:960px; margin:0 0 0 -15px; _margin:0 0 0 -30px;}
.evaluation li{ width:457px; _width:450px;  float:left; border:1px solid #eee; margin:20px 0 0 14px  ; _margin:20px 0 0 18px ; height:170px;}
.evaluation li:hover{border-color:#dcdcdc; box-shadow:0 2px 4px rgba(0,0,0,0.1)}
.evaluation li dl{ padding:15px;}
.evaluation li dl dt{ width:100px; height:100px; overflow:hidden; float:left; background:#eee; margin:0 16px 0 0;}
.evaluation li dl dd{ position:relative;}
.evaluation li dl dd p{ width:auto; overflow:hidden; max-height:40px; line-height:20px; font-size:14px; color:#666;}
.evaluation li dl dd span{ height:35px; line-height:35px; color:#FF9933; }
.evaluation li dl dd span em{ padding:0 5px 0 0; font-size:16px; }

.evaluation_btn{ height:40px; display:block; position:absolute;  top:70px;right:0;}
.evaluation_btn a:hover{ background:#19B746; }
.evaluation_btn a{ display:inline-block; color:#FFF; background:#FF9934; }
.evaluation_btn a.cat{ background:none; color:#666; text-decoration:underline; }
.pj { width:100%; height:22px;}
.pj span{ float:left; width:96px; display:block;}
.pj em{ font-size:12px; color:#999;}

/*********** evaluation_moere ******/
.praise{ width:100%; height:400px; margin:24px 0; }
.praise dt{ width:400px; height:400px; float:left; overflow:hidden; background:#eee; }
.praise dt img{ width:100%;}
 
.praise dd{ width:500px; float:left; float:right; overflow:hidden; height:430px;} 
.praise dd div{ float:left;}
.praise dd ul{ float:left;}




.gradecon{border:1px solid #E0DCDC;background:#fefdea;padding:10px;width:320px;margin:40px auto 0 auto;}
.rev_pro li{line-height:20px;height:20px;}
.rev_pro li .revtit{text-align:right;display:block;float:left;margin-right:10px;width:70px;}
.revinp{float:left;display:inline;}
.level .level_solid,.level .level_hollow{float:left;background-image: url(../image/icon2.png);background-repeat:no-repeat;display:inline-block;width:15px;height:15px;}
.level .level_solid{background-position:0px 0px;}
.level .level_hollow{background-position:-21px 0px;}
.revgrade{margin-left:20px;}


#wp{ width:600px; height:auto; margin:10px 0;}
#wp span{ margin:5px 0;}
#wp form { width:500px; float:left; height:40px;}
#wp form label { font-size:16px; line-height:40px; color:#666; width:100px; float:left; height:40px;}
#wp form label input { width:20px; height:20px; float:left; margin:10px 5px; }

#pj{ width:600px; height:265px;}
#pj span{ font-size:17px; height:100px; display:block;}
.pj_text{ border:1px solid #ddd; height:240px; width:420px; padding:10px; color:#666; line-height:25px;}

.pj_btn{ width:100%; height:35px;}
.pj_btn a{ float:right; display:inline-block; height:30px; text-align:center; background:#FF9934; margin:9px;}
.orderw_list:hover{ box-shadow:0 0 0 0; border:1px solid #ddd;}

/*********** evaluation_moere ******/
.demo input, .demo textarea, .demo select { border: 1px solid #999; border-radius: 5px; color: #333; display: inline-block; height: 27px; font-size: 1.5em; text-align: center; width: 135px; vertical-align: middle }

.demo input:focus, .demo textarea:focus, .demo select:focus { border: 1px solid #95BDD4 }
.demo input:hover, .demo textarea:hover, .demo select:hover { border: 1px solid #BDBDBD }

.demo textarea { resize: none; height: 27px }
.demo select { text-align: left }

.demo .target-demo { display: inline-block; vertical-align: middle }

.demo div.hint { background-color: #F8F8F8; border-radius: 5px; color: #333; display: inline-block; height: 27px; font-size: 1.5em; text-align: center; width: 135px; vertical-align: middle }

.demo label { color: #444; font-size: 1.7em; letter-spacing: .7px; margin-right: 5px; padding-left: 6px; vertical-align: middle }

.demo a.run { font-size: 1.5em; margin-left: 5px; letter-spacing: .7px; vertical-align: middle }

/*qq*/
.qq_box{ width:600px; margin:60px auto; height: auto;/* border-top:2px solid #093;*/ box-shadow:0 0 4px #eee;}
.qq_title{ width:328px; height:65px; margin:10px auto; padding:15px 0;}
.qq_title dt{ width:50px; height:50px; float:left;margin:0;}
.qq_title dd{ width:260px; height:30px; float:right;font-size:18px; line-height:30px; color:#666; font-weight:bold; margin:10px 0 0 0;}
.qq_title dd.xiao{ font-size:16px; line-height:25px; font-weight:normal; margin:0; color:#888; }

.qq_text{ width:598px; /*border-left:1px solid #eee; border-right:1px solid #eee;*/ height:130px; background:#FFF; padding:20px 0; border-top:2px solid #19B746;}
.qq_text li{ width:410px; margin:20px auto; /*border:1px solid #ddd;*/ background:#fff; height:40px; line-height:40px; padding:0 10px; color:#666;  }
.qq_text li span{ width:80px; display:block; float:left; height:30px; text-align:right; }

.qq_text li input{ width:305px; float:right; padding:0 10px;height:30px; color:#444; font-family:arial; border:1px solid #fff; border-bottom-color:#ddd; float:right; line-height: 30px;}
.qq_btn{ background:#eee; height:40px; padding:20px 0; text-align:center;width:100%;} .qq_btn a{ display:block; width:140px; background:#9797A6; font-size:14px; height:40px;line-height:40px;  text-align:center;color:#ffffff; margin:0 auto; background:#FF9934;  }
.qq_btn a:hover{ background:#FF9034; }
.error_info {display:none;margin: 0 auto;width: 200px;text-align: center;color: #F00;background-color: #F3F3F3;line-height: 30px;position: relative;left: 210px;top: -20px;}

.btn_save{ border:none;}
.add_adds ul li font{ padding:0 10px ; color:#FF9934;}
.userBtn{float:left;margin-right:10px;background-color:#ff7f00;width:100px;line-height:30px;color:white; border:none;}
.nobonus{ padding:20px; display:block}